.text-container{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 0px;
}
.ppp{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3vw;
    color: black;
}
.h1-for-body{
    font-size: 4vw;
}
.card-container{
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}