.forgot-password-container{
    margin-top: 1.3vw;
    padding-bottom: 2vw;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    
}
.forgot-password{
    text-decoration: none;
    color: rgb(4, 129, 129);
    padding-bottom: 2vw;
}
.register-container1{
    width: 25vw;
    /* height: 36vw; */
    background-color: #F7F7F9;
    margin: 0 auto;
    margin-top:5vw;
    margin-bottom:30px;
    border: 2px solid #E5E5E5;
}
.signIn-button{
    width: 8vw;
    height: 2.5vw;
    border: none;
    background-color: #8a8a8a;
    font-size: 1.3vw;
    cursor: pointer;
    /* margin-top: 5px; */
    transition: 1s;
}
.signIn-button:hover{
    background-color: rgb(70, 70, 70);
    color: #8a8a8a;
}
.user-container{
    margin-top: 2vw;
    text-align: center;
}
#email.input-for-register{
    width: 90%;
    height: 3vw;
    font-size: 1.4vw;
}
#password.input-for-register{
    width: 90%;
    height: 3vw;
    font-size: 1.4vw;
}