.header{
    display: flex;
    height: 3.3vw;
    width: 100%;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    font-size: 1.3vw;
}

.header-div-container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    color: #4f4f4f;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
.header-div-container1{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mard{
    font-size: 1.75vw;
    transition: 1s;
    color: #4F4F4F;
}
.mard:hover{
    color: rgb(0, 0, 0);
}
.register-button{
    width: 8vw;
    border: none;
    background-color: #4F4F4F;
    height: 2vw;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: 1s;
    font-size: 1.15vw;
}
.register-button:hover{
    background-color: rgb(0, 0, 0);
    color: #aaaaaa;
}
.text:hover{
    color: black;
}
.spanForNumbers{
    border-radius: 100%;
    background-color: rgb(216, 216, 216);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6%;
    right: 16.9%;
    /* height: 40%; */
    top: 4%;
    position: absolute;
}
.div-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}